In [2]:
import pandas as pd

df = pd.read_csv('/data/example.csv')

df.head()

            Name           Position       Department  Salary   Hire Date
0       John Doe  Software Engineer      Engineering   85000  2020-01-15
1     Jane Smith    Product Manager          Product   95000  2019-05-22
2    Sam Johnson       Data Analyst     Data Science   72000  2021-08-01
3    Emily Davis        UX Designer           Design   78000  2020-07-11
4  Michael Brown         HR Manager  Human Resources   68000  2018-10-30